<!-- sign-in.component.html -->
<div class="sign-in-container">
  <h2>Sign In</h2>
  <form (ngSubmit)="onSignIn()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Sign In</ion-button>
    <ion-button expand="full" (click)="signUp()">Sign Up</ion-button>
  </form>
</div>
